body{
    font-family: Arial;
    padding: 20px;
    background-color: #f4f4f4;
}

form{
    display: flex;
    flex-direction: column;
    gap: 10px;
    width: 300px;
}

input, select, textarea, button{
    padding: 10px;
}

#listaAlertas{
    margin-top: 20px;
}

.card{
    background-color: white;
    padding: 15px;
    margin-top: 15px;
    border-radius: 10px;
    box-shadow: 0 0 5px rgba(0,0,0,0.2);
}