body {
    background-color: #d9d9d9;
     font-family: 'Poppins', sans-serif;
}


.mini-card{
}
.carousel-control-prev, .carousel-control-next {
    background-color:black;
        outline: black;
    background-color: rgba(0, 0, 0, 0.3);
    background-size: 100%, 100%;
    border-radius: 50%;
    border: 1px solid black;
}

.imageHeader{
    width: 15rem;
    height: 4rem;
}

.ConfiguracaoBotao{
    width: 3rem;
    height: 3rem;
    background-color: transparent;
    text-decoration: none;
    border: none;
}

.main-alert {
    border: 2px solid black;
    border-radius: 15px;
    padding: 30px;
    background-color: white;
}

.mini-card {
    border: 2px solid black;
    border-radius: 15px;
    height: 140px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding: 10px;
    background-color: white;
}

.hub-box {
    border: 2px solid black;
    border-radius: 15px;
    min-height: 420px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding: 30px;
    background-color: white;
}

footer {
    border-top: 2px solid black;
    text-align: center;
    padding: 20px;
    margin-top: 40px;
    background-color: #cfcfcf;
}

.gear {
    font-size: 40px;
    text-align: end;
}


/* Css da parte do minihub de temperaturas */
/* Css da parte do minihub de temperaturas */
/* Css da parte do minihub de temperaturas */
.Cardcidade {
      border: 2px solid #555;
      border-radius: 10px;
      background-color: #ddd;
      padding: 25px;
      margin-bottom: 25px;
    }

.BotaoTemperatura {
  background-color: rgb(185, 255, 255);
}
.BotaoUmidade {
  background-color: rgb(185, 255, 255);
}


    .TituloCidade {
      font-size: 2rem;
      font-weight: bold;
      text-align: center;
      margin-bottom: 20px;
    }

    .weather-info {
      text-align: center;
      font-size: 1.2rem;
      font-weight: bold;
    }

    #HeaderPesquisa {
      background-color: #a0a0a0;
    }

    .cards-scroll{
      height: 740px;
      overflow-y: auto;
      scrollbar-width: none;
    }
/* Css da parte do minihub de temperaturas */
/* Css da parte do minihub de temperaturas */
/* Css da parte do minihub de temperaturas */