body {
    background-color: #d9d9d9;
     font-family: 'Poppins', sans-serif;
}
/* Css da parte do minihub de temperaturas */
/* Css da parte do minihub de temperaturas */
/* Css da parte do minihub de temperaturas */
.Cardcidade {
      border: 2px solid #555;
      border-radius: 10px;
      background-color: #ddd;
      padding: 25px;
      margin-bottom: 25px;
    }

.BotaoTemperatura {
  background-color: rgb(185, 255, 255);
}
.BotaoUmidade {
  background-color: rgb(185, 255, 255);
}


    .TituloCidade {
      font-size: 2rem;
      font-weight: bold;
      text-align: center;
      margin-bottom: 20px;
    }

    .weather-info {
      text-align: center;
      font-size: 1.2rem;
      font-weight: bold;
    }

    #HeaderPesquisa {
      background-color: #a0a0a0;
    }

    .cards-scroll{
      height: 740px;
      overflow-y: auto;
      scrollbar-width: none;
    }
/* Css da parte do minihub de temperaturas */
/* Css da parte do minihub de temperaturas */
/* Css da parte do minihub de temperaturas */