* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;

}


body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;


}

header {
    background-color: #1e3a5f;
    color: white;

    padding: 8px 30px;

    display: flex;
    justify-content: space-between;
    align-items: center;
}

nav a {
    color: white;
    text-decoration: none;

    margin-left: 15px;

    font-weight: bold;
}

main {
    display: flex;
}

aside {
    width: 250px;

    background-color: white;

    padding: 20px;

    min-height: 100vh;

    border-right: 1px solid #ddd;
}

section {
    flex: 1;

    padding: 20px;
}

.busca {
 display: flex;
    gap: 10px;

    margin-top: 20px;
    margin-bottom: 20px;
}


.busca input {
    flex: 1;

    padding: 12px;

    border: 1px solid #ccc;

    border-radius: 8px;

    font-size: 16px;
}

button {
    background-color: #1e3a5f;

    color: white;

    border: none;

    padding: 12px 20px;

    border-radius: 8px;

    cursor: pointer;

    font-weight: bold;
}

button:hover {
    background-color: #29507f;
}

.card-alerta {
    background-color: white;

    padding: 20px;

    border-radius: 10px;

    margin-top: 20px;

    box-shadow: 0 2px 8px rgba(0,0,0,0.1);
}


.card-alerta p {
    margin-bottom: 10px;
}

aside h2 {
    margin-bottom: 20px;
}

aside h3 {
    margin-top: 20px;
    margin-bottom: 10px;
}

.filtro-item {
    margin-bottom: 12px;
}

.filtro-item label {
    margin-left: 5px;
}

.topo-card {
    display: flex;

    justify-content: space-between;

    align-items: center;

    margin-bottom: 15px;
}

.logo-area {
    display: flex;

    align-items: center;
}

.logo-area img {
    width: 180px;

    height: auto;

    object-fit: contain;
}

.modal {
    display: none;

    position: fixed;

    top: 0;
    left: 0;

    width: 100%;
    height: 100%;

    background-color: rgba(0, 0, 0, 0.6);

    justify-content: center;

    align-items: center;
}

.modal-conteudo {
    background-color: white;

    padding: 30px;

    border-radius: 12px;

    width: 500px;

    max-width: 90%;

    position: relative;
}

#fechar-modal {
    position: absolute;

    top: 15px;
    right: 20px;

    font-size: 28px;

    cursor: pointer;
}


.estatisticas {
    margin-top: 10px;
}

.card-estatistica {
    margin-bottom: 8px;
}







@media (max-width: 768px) {

main {
    flex-direction: column;
}

aside {
    width: 100%;

    min-height: auto;
}

header {
    flex-direction: column;

    text-align: center;

    gap: 15px;
}

.busca {
    flex-direction: column;
}

.busca button {
    width: 100%;
}

.card-alerta {
    padding: 15px;
}
}